<mat-card>
  <mat-card-header>
    <mat-card-title>
      <button mat-mini-fab color="primary" [routerLink]="['/','surveys']">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      {{survey.getTitle()}}
      <button mat-mini-fab color="primary" [routerLink]="['/', 'survey', 'update', survey.getId()]">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-title>
    <mat-card-subtitle>
      POE type : {{survey.getPoeType()}}
    </mat-card-subtitle>
    <mat-card-subtitle>
      Level : {{ survey.getLevel() }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!-- <div class="info-bloc">
      <span class="info-bloc__key">Title: </span>
      <span class="info-bloc__value">{{ survey.getTitle() }}</span>
    </div> -->


    <app-question-form *ngIf="showAddQuestionForm" [fromSurvey]="survey.getId()"
      (questionTypeToSend)="displayGoToAnswerDiv($event)" (surveyToSend)="questionAdded($event)"></app-question-form>
    <div *ngIf="showGoToAnswerDiv">
      <p>La question a été ajoutée. Pensez à y ajouter des réponses.</p>
    </div>
    <div *ngIf="!showGoToAnswerDiv && questionAddedFromForm">
      <p>La question a été ajoutée.</p>
    </div>
    <a *ngIf="!showAddQuestionForm" mat-raised-button color="accent" (click)="addQuestionForm(true)">
      Ajouter une question
    </a>
    <a *ngIf="showAddQuestionForm" mat-raised-button color="accent" (click)="addQuestionForm(false)">
      Annuler
    </a>




    <a mat-raised-button color="accent" (click)="addAnswerToQuestion()">
      Ajouter réponse test à question 8
    </a>
    <a mat-raised-button color="accent" [routerLink]="['/', 'survey', 'addQuestions', survey.getId()]">
      Ajouter des questions
    </a>
    <a mat-raised-button color="accent" [routerLink]="['/', 'survey', 'orderQuestions', survey.getId()]">
      Changer l'ordre
    </a>
    <a *ngIf="!showAllAnswers" mat-raised-button color="accent" (click)="showAllAnswersBooleanState(true)">
      Afficher les réponses
    </a>
    <a *ngIf="showAllAnswers" mat-raised-button color="accent" (click)="showAllAnswersBooleanState(false)">
      Cacher les réponses
    </a>
    <table>
      <thead>
        <tr>
          <th class="center-cell">
            Order
          </th>
          <th class="left-cell">
            Texte
          </th>
          <th class="left-cell">
            Type de réponse
          </th>
          <!-- <th class="left-cell">
            Réponses
          </th> -->
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let question of survey.getQuestions()">
          <tr>
            <td class="center-cell">{{ question.getOrderInSurvey() }}</td>
            <td>
              <mat-form-field [style.width.%]="100">
                <input  matInput class="searchTerm" type="text" name="searchTerm"
                value="{{ question.getText()}}" (keyup)="onKey(question.getId(),$event)" placeholder="Question"/>
              </mat-form-field>
              <button *ngIf="inputQuestionMap.get(question.getId()) !== '' " mat-mini-fab color="warn"
                type="button" (click)="saveQuestionText(question.getId(),question.getAnswerType())">
                <mat-icon>save</mat-icon>
              </button>
            </td>
            <td>{{ question.getAnswerType() }}</td>
            <td class="center-cell">
              <button *ngIf="!questionArrayToShowDetails.includes(question.getId())" mat-mini-fab color="warn"
                type="button" (click)="onDetailsQuestion(question.getId())">
                <mat-icon>visibility</mat-icon>
              </button>
              <button *ngIf="questionArrayToShowDetails.includes(question.getId())" mat-mini-fab color="warn"
                type="button" (click)="onDetailsQuestionOff(question.getId())">
                <mat-icon>visibility_off</mat-icon>
              </button>
              <button mat-mini-fab color="accent" type="button" (click)="onEdit(question)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-mini-fab color="warn" type="button" (click)="onDelete(question)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
          <tr *ngIf="questionArrayToShowDetails.includes(question.getId())">
            <td></td>
            <td colspan="3">
              <ng-container class="question-details" *ngFor="let answer of question.getAnswers()">
                <div class="answer">
                  <p>{{answer.getText()}}</p>
                  <mat-icon *ngIf="question.getAnswerType() == 'CHOOSE_MANY' ||
           question.getAnswerType() == 'CHOOSE_ONE' " mat-mini-fab color="warn" type="button"
                    (click)="onEditAnswer(answer)">
                    edit</mat-icon>
                  <mat-icon *ngIf="question.getAnswerType() == 'CHOOSE_MANY' ||
           question.getAnswerType() == 'CHOOSE_ONE' " mat-mini-fab color="warn" type="button">
                    delete</mat-icon>


                </div>

              </ng-container>


              <div class="answer">

                <p *ngIf="question.getAnswerType() == 'CHOOSE_MANY' ||
                  question.getAnswerType() == 'CHOOSE_ONE' ">Ajouter une réponse</p>
                <mat-icon *ngIf="question.getAnswerType() == 'CHOOSE_MANY' ||
                  question.getAnswerType() == 'CHOOSE_ONE' " mat-mini-fab color="warn" type="button">
                  library_add</mat-icon>
              </div>


              <p *ngIf="question.getAnswerType() == 'YES_NO'">Oui</p>
              <p *ngIf="question.getAnswerType() == 'YES_NO'">Non</p>
              <p *ngIf="question.getAnswerType() == 'FREE'">Réponse Libre</p>

            </td>
          </tr>
        </ng-container>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </mat-card-content>
</mat-card>
