<mat-card>
  <mat-card-header>
    <mat-card-title>
      <button mat-mini-fab color="primary" [routerLink]="['/','surveys']">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      {{survey.getTitle()}}
      <button mat-mini-fab color="primary" [routerLink]="['/', 'survey', 'update', survey.getId()]">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-title>
    <mat-card-subtitle>
      POE type : {{survey.getPoeType()}}
    </mat-card-subtitle>
    <mat-card-subtitle>
      Level : {{ survey.getLevel() }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!-- <div class="info-bloc">
      <span class="info-bloc__key">Title: </span>
      <span class="info-bloc__value">{{ survey.getTitle() }}</span>
    </div> -->



    <a *ngIf="!showAddQuestionForm" mat-raised-button color="accent" (click)="addQuestionForm(true)">
      Ajouter une question MINIFORM
    </a>

    <app-question-form [fromSurvey]="true"></app-question-form>

    <!-- <ng-container *ngIf="showAddQuestionForm">

      <form [formGroup]="questionForm" (ngSubmit)="onSubmitQuestion()" [ngClass]="{'valid': questionForm.valid}">
    
          <mat-form-field>
            <input
              matInput
              id="text"
              type="text"
              formControlName="text"
              [ngClass]="{'valid': true}"
              placeholder="Question"
            >
    
            <mat-error *ngIf="c['text'].errors && c['text'].touched">
              Le texte est obligatoire
            </mat-error>
          </mat-form-field>
    
          <mat-form-field appearance="fill">
            <mat-label>Type de question</mat-label>
            <mat-select matNativeControl required formControlName="answerType">
              <mat-option value="YES_NO">Oui ou non</mat-option>
              <mat-option value="CHOOSE_ONE">Une réponse à cocher</mat-option>
              <mat-option value="CHOOSE_MANY">Plusieurs réponses à cocher</mat-option>
              <mat-option value="FREE">Réponse libre</mat-option>
            </mat-select>
          </mat-form-field>
    
    
          <div class="btn-list">
            <button
              mat-raised-button
              color="primary"
              [disabled]="!questionForm.valid"
              class="btn add-btn"
            >
            Add 💚
            </button>
            <button type="button" mat-raised-button color="warn" (click)="addQuestionForm(false)" class="btn">
              Cancel 💀
            </button>
          </div>
      </form>
    
      </ng-container>
     -->
    <div class="add-question-form" *ngIf="showAddQuestionForm">
      <form (ngSubmit)="onSubmitQuestion()">
        <input matInput (keyup)="onKey($event)" placeholder="Texte de la question" >
        <mat-select matNativeControl required placeholder="Type de Question" [(value)]="questionAnswerTypeToAdd">
          <mat-option value="FREE">FREE</mat-option>
          <mat-option value="YES_NO">YES_NO</mat-option>
          <mat-option value="CHOOSE_ONE">CHOOSE_ONE</mat-option>
          <mat-option value="CHOOSE_MANY">CHOOSE_MANY</mat-option>
        </mat-select>
        <a mat-raised-button color="accent" (click)="onSubmitQuestion()" >
          Valider
        </a>
        <a mat-raised-button color="accent" (click)="addQuestionForm(false)">
          Annuler
        </a>
      </form>
    </div>

    <a mat-raised-button color="accent" [routerLink]="['/', 'survey', 'addQuestions', survey.getId()]">
      Ajouter une question
    </a>
    <a mat-raised-button color="accent">
      Changer l'ordre
    </a>
    <a *ngIf="!showAllAnswers" mat-raised-button color="accent" (click)="showAllAnswersBooleanState(true)">
      Afficher les réponses
    </a>
    <a *ngIf="showAllAnswers" mat-raised-button color="accent" (click)="showAllAnswersBooleanState(false)">
      Cacher les réponses
    </a>
    <table>
      <thead>
        <tr>
          <th class="center-cell">
            #
          </th>
          <th class="left-cell">
            Texte
          </th>
          <th class="left-cell">
            Type de réponse
          </th>
          <!-- <th class="left-cell">
            Réponses
          </th> -->
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let question of survey.getQuestions()">
          <tr>
            <td class="center-cell">{{ question.getId() }}</td>
            <td>
              <div>{{ question.getText() }}</div>
            </td>
            <td>{{ question.getAnswerType() }}</td>
            <td class="center-cell">
              <button *ngIf="!questionArrayToShowDetails.includes(question.getId())" mat-mini-fab color="warn"
                type="button" (click)="onDetailsQuestion(question.getId())">
                <mat-icon>assignment</mat-icon>
              </button>
              <button *ngIf="questionArrayToShowDetails.includes(question.getId())" mat-mini-fab color="warn"
                type="button" (click)="onDetailsQuestionOff(question.getId())">
                X
              </button>
              <button mat-mini-fab color="warn" type="button">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-mini-fab color="warn" type="button" (click)="onDelete(question)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
          <tr *ngIf="questionArrayToShowDetails.includes(question.getId())">
            <td colspan="4">
              <ng-container class="question-details" *ngFor="let answer of question.getAnswers()">
                <div class="answer">
                  <p>{{answer.getText()}}</p>
                  <p>X</p>
                </div>
              </ng-container>
              <p *ngIf="question.getAnswerType() == 'CHOOSE_MANY' ||
           question.getAnswerType() == 'CHOOSE_ONE' " class="add-text"> + Add answer</p>

              <p *ngIf="question.getAnswerType() == 'YES_NO'">Oui</p>
              <p *ngIf="question.getAnswerType() == 'YES_NO'">Non</p>
              <p *ngIf="question.getAnswerType() == 'FREE'">Réponse Libre</p>

            </td>
          </tr>
        </ng-container>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </mat-card-content>
</mat-card>