$std-color: rgb(63, 81, 181);
$light-color: rgb(255, 255, 255);

.detail-page-header {
  width: 100%;
  margin-bottom: 2.5rem;
  .detail-page-header_title {
    width: 100%;
    margin-bottom: 2rem;
    .title {
      display: inline-block;
      width: calc(100% - 80px);
      text-align: center;
      font-size: 2rem;
    }
  }
}

.search {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: $light-color;
  border-bottom: none;
}

  
  p {
    color: #383c52;
  }

  .btn-list {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }