<div class="btn-list">
  <a
    mat-raised-button color="accent"
    [routerLink]="['/', 'poe', 'add']"
  >
    Ajouter POE
  </a>
  <a
  *ngIf="!filter"
    mat-raised-button color="primary"
    (click)="changeBooleanState()"
  >
    Afficher les filtres
  </a>
  <a
    *ngIf="filter"
    mat-raised-button color="primary"
    (click)="changeBooleanState()"
  >
    Cacher les filtres
  </a>
</div>

<div *ngIf="filter">

  <div class="search">
    <mat-form-field>
      <input
        matInput
        class="searchTerm"
        type="text"
        name="searchTerm"
        placeholder="Filter by title"
        [(ngModel)]="filterTitle"
      (input)="doSearchBar(filterTitle, filterType)" />
    </mat-form-field>
    <mat-form-field>
      <mat-select matNativeControl required placeholder="Filter by type" (selectionChange)="doSearchBar(filterTitle, filterType)" formControlName="type" [(value)]="filterType">
        <mat-option value="">--</mat-option>
        <mat-option value="POEI">POEI</mat-option>
        <mat-option value="POEC">POEC</mat-option>
      </mat-select>
    </mat-form-field>

    <a mat-raised-button color="accent" (click)="resetFilter( )">
      Supprimer les filtres
    </a>
  </div>

  <app-poe-filter [filterDate]="stopDate" (onChangeFilter)="filterChanged($event)"></app-poe-filter>

</div>



<table>
  <thead>
    <tr>
      <th class="center-cell">
        #
      </th>
      <th class="left-cell">
        Title
      </th>
      <th class="left-cell">
        beginDate
      </th>
      <th class="left-cell">
        endDate
      </th>
      <th class="left-cell">
        type
      </th>
      <th>
        &nbsp;
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let poe of poes">
      <tr *ngIf="changeView(poe)">
        <td class="center-cell">{{ poe.getId() }}</td>
        <td> {{ poe.getTitle() }} </td>
        <td>{{ poe.getBeginDate() | date: 'dd-MM-YYYY' }}</td>
        <td>{{ poe.getEndDate() | date: 'dd-MM-YYYY' }}</td>
        <td>{{ poe.getType() }} </td>
        <td class="center-cell">
          <button mat-mini-fab color="primary" type="button" [routerLink]="['/','poe', 'detail', poe.getId()]">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-mini-fab color="accent" type="button" (click)="onEdit(poe)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" type="button" (click)="onDelete(poe)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </ng-container>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6" class="right-cell"></td>

    </tr>
  </tfoot>
</table>
