<form [formGroup]="loginForm" (ngSubmit)="onLogin()" [ngClass]="{'valid': loginForm.valid}">
  <div class="field-control">
    <mat-form-field>
      <input matInput formControlName="userLogin" placeholder="Identifiant">
      <mat-error *ngIf="loginForm.get('userLogin')!.errors && loginForm.get('userLogin')!.touched">
        Identifiant requis
      </mat-error>
    </mat-form-field>
  </div>

  <div class="field-control">
    <mat-form-field>
      <input matInput formControlName="userPassword" placeholder="Mot de passe" type="password">
      <mat-error *ngIf="loginForm.get('userPassword')!.errors && loginForm.get('userPassword')!.touched">
        Mot de passe requis
      </mat-error>
    </mat-form-field>
  </div>

  <div class="field-control toggle">
    <mat-label>Rester connecté</mat-label>
    <mat-slide-toggle formControlName="stayConnected"></mat-slide-toggle>
  </div>
  
  <div class="btn-list">
    <button
      class="btn valid-btn"
      mat-raised-button
      color="primary"
      [disabled]="loginForm.invalid"
    >
      Se connecter
    </button>
    <button
      class="btn"
      mat-raised-button
      color="accent"
      [routerLink]="['/','signup']"
    >
    Créer un compte
    </button>
  </div>
	<div style="color : red" *ngIf='error'>{{error}}</div>

</form>
