<div class="btn-list">
<a mat-raised-button color="accent" [routerLink]="['/', 'stagiaire', 'add']">
    Ajouter Stagiaire
</a>
<a mat-raised-button color="primary" (click)="changeBooleanState( )">
  Filtres
</a>
</div>



<div *ngIf="filter">
  <div class="search">
  <mat-form-field>
  <input 
  matInput
  class="searchTerm" 
  type="text" 
  name="searchTerm" 
  placeholder="Filtrer par Prénom" 
  [(ngModel)]="filterFN"
    (input)="searchByFirstName(filterFN)" />
  </mat-form-field>
  <mat-form-field>
  <input 
  matInput 
  class="searchTerm" 
  type="text" 
  name="searchTerm" 
  placeholder="Filtrer par Nom" 
  [(ngModel)]="filterLN"
    (input)="searchByLastName(filterLN)" />
  </mat-form-field>
  <mat-form-field>
  <input 
  matInput
  class="searchTerm" 
  type="text" 
  name="searchTerm" 
  placeholder="Filtrer par Date de naissance" 
  [(ngModel)]="filterBD"
    (input)="searchByBirthDate(filterBD)" />
  </mat-form-field>

  <a mat-raised-button color="accent" (click)="resetFilter()">
    Supprimer les filtres
  </a>
</div>
</div>


<table>
  <thead>
    <tr>
      <th class="left-cell" id="sort-button" *ngIf="!idOrder" (click)="sortById(stagiaires)">
        # &uarr;
      </th>
      <th class="left-cell" id="sort-button" *ngIf="idOrder" (click)="sortByIdDesc(stagiaires)">
        # &darr;

      </th>
      <th class="left-cell" id="sort-button" *ngIf="!firstNameOrder" (click)="sortByFirstName(stagiaires)">
        Prénom &uarr;

      </th>
      <th class="left-cell" id="sort-button" *ngIf="firstNameOrder" (click)="sortByFirstNameDesc(stagiaires)">
        Prénom &darr;
      </th>
      <th class="left-cell" id="sort-button" *ngIf="!lastNameOrder" (click)="sortByLastName(stagiaires)">
        Nom &uarr;
      </th>
      <th class="left-cell" id="sort-button" *ngIf="lastNameOrder" (click)="sortByLastNameDesc(stagiaires)">
        Nom &darr;
      </th>
      <th class="left-cell">
        Date de naissance
      </th>
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let stagiaire of stagiaires">
      <tr *ngIf="(stopDate === null) ?
            true : stopDate.getDate() === 31 ?
              stagiaire.getBirthDate() > stopDate : stagiaire.getBirthDate() < stopDate">
        <td class="center-cell">{{ stagiaire.getId() }}</td>
        <td>
          <!-- ElementRef -->
          <span class="name-puce" appBubble [config]="bubbleConfig"
            (click)="onClick(stagiaire)"><!-- (click)="onClick(stagiaire)" -->
            {{ stagiaire | initials : { firstNameFirst: false, full: true } }}
          </span>
          <!-- /ElementRef -->
          <!-- nativeElement -->
          <!--<span class="name-puce" appBubble>
            AP
          </span>-->
          <!-- /nativeElement -->
          {{ stagiaire.getFirstName() }}
        </td>
        <td>{{ stagiaire.getLastName() | uppercase }}</td>
        <td>{{ stagiaire.getBirthDate()| date: 'dd-MM-YYYY' }}</td>
        <td class="center-cell">
          <button mat-mini-fab color="accent" type="button" (click)="onEdit(stagiaire)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" type="button" (click)="onDelete(stagiaire)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </ng-container>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5" class="right-cell"></td>
    </tr>
  </tfoot>
</table>
