$std-color: rgb(32, 2, 32);
$light-color: rgb(255, 255, 255);

table {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 2rem 0;
  border-collapse: collapse;
  border: 1px solid $std-color;
  background-color: $light-color;
  thead, tbody, tfoot {
    tr {
      td, th  {
        border: 1px solid $std-color;
        padding: .5rem;
        &.center-cell {
          text-align: center;
        }
        &.right-cell {
          text-align: right;
        }
      }
    }
  }
  thead, tfoot {
    tr th, tr td {
      background-color: $std-color;
      color: $light-color;
    }
  }
  tbody {
    tr {
      &:nth-child(odd) {
        background-color: lighten($std-color, 85);
      }
      td {
        .name-puce {
          display: inline-block;
          margin-right: .5rem;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: $std-color;
          color: $light-color;
          text-align: center;
          line-height: 40px;
        }
        button {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          border: 1px solid $std-color;
          background-color: $light-color;
          color: $std-color;
          transition: all .3s cubic-bezier(0.17, 0.84, 0.44, 1);
          &:hover {
            background-color: lighten($std-color, $amount: 20);
            color: $light-color;
            cursor: pointer;
          }
        }
      }
    }
  }
}
