<mat-card>
  <mat-card-header>
    <mat-card-title>
      Créer des Google forms [POC]
    </mat-card-title>
    <mat-card-subtitle>
      Proof of concept pour générer des formulaires Google à partir des formulaires créés
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <button mat-mini-fab color="accent" [routerLink]="['/', 'googletoken']" *ngIf="hasUser && !hasGoogleToken">
      <mat-icon>vpn_key</mat-icon>
    </button>
    <button mat-mini-fab color="accent" (click)="onCreateFolder()" *ngIf="hasUser && hasGoogleToken">
      <mat-icon>create_new_folder</mat-icon>
    </button>
    <button mat-mini-fab color="accent" (click)="onDeleteGoogleToken()" *ngIf="hasUser && hasGoogleToken">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
