
  <div [ngClass]="{'overlay': true, 'visible': isOverlayVisible}">
    <h1>Pouet</h1>
  </div>
  <h1 (click)="toggleTitle()">
    {{ title }}
  </h1>
  <nav>
    <ul>
      <li>
        <a [routerLink]="['/', 'home']">Home</a>
      </li>
      <li>
        POE list
      </li>
      <li>
        <a *ngIf="!hasUser" [routerLink]="['/', 'login']">Login</a>
        <a *ngIf="hasUser" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </nav>

  <!-- router outlet -->
  <router-outlet></router-outlet>
  <button class="pouet-btn" type="button" (click)="makePouet()">
    Bouton qui fait POUET
  </button>

  <!-- <div>
    <input
      [type]="inputType"
      placeholder="Your password">
    <button
      class="password-btn"
      type="button"
      (click)="onShowPassword()"
      [disabled]="this.inputType === 'text'"
    >
      👾💚💫
    </button>

  </div> -->

