
  <div [ngClass]="{'overlay': true, 'visible': isOverlayVisible}">
    <h1>Pouet</h1>
  </div>
  <h1 (click)="toggleTitle()">
    {{ title }}
  </h1>


  <button class="pouet-btn" type="button" (click)="makePouet()">
    Bouton qui fait POUET
  </button>


  <!-- router outlet -->
  <router-outlet></router-outlet>


  <!-- <div>
    <input
      [type]="inputType"
      placeholder="Your password">
    <button
      class="password-btn"
      type="button"
      (click)="onShowPassword()"
      [disabled]="this.inputType === 'text'"
    >
      👾💚💫
    </button>

  </div> -->

