<ng-container *ngIf="poeForm">
  <form [formGroup]="poeForm" (ngSubmit)="onSubmit()" [ngClass]="{'valid': poeForm.valid}">

    <mat-form-field>
      <input
        matInput
        id="title"
        type="text"
        formControlName="title"
        [ngClass]="{'valid': true}"
        placeholder="Titre"
      >
      <!-- TODO mat error-->
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Entrer une date de début et de fin</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Date de début" formControlName="beginDate">
        <input matEndDate placeholder="Date de fin" formControlName="endDate">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Type de POE</mat-label>
      <mat-select matNativeControl required formControlName="type">
        <mat-option value="POEI">POEI</mat-option>
        <mat-option value="POEC">POEC</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="btn-list">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!poeForm.valid"
        class="btn add-btn"
      >
        {{ addMode ? 'Ajouter &#11088;' : 'Mettre à jour &#11088;'}}
      </button>
      <button type="button" mat-raised-button color="warn" (click)="goBack()" class="btn">
        Annuler
      </button>
    </div>

  </form>


</ng-container>
