$std-color: rgb(103, 99, 103);
$light-color: rgb(255, 255, 255);
$success-color: rgb(173, 255, 47);
$error-color: rgb(142, 0, 0);

.token {
  margin-bottom: 1rem;
}

.search {
  position: relative;
  display: grid;
  padding: 15px;
  border-radius: 3px;
  background-color: $light-color;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid $error-color;

  p {
    color: rgb(128, 128, 128);
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    
  }

  textarea, input {
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  i {
    font-size: 1rem;
  }
}

.searchTerm {
  padding: 5px;
  height: 20px;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;


}

.searchTerm:focus {
  color: #000;
}

.subtitle {
  margin-top: 15px;

  p {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
  }

}

.comment {
  height: 100px;
  padding: 10px;
  outline: 0;
  line-height: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;}

.apercu {
  background-color: #ececec;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;


  p {
    font-style: italic;
  }
}

.send-button {
  margin-top: 1rem;
  padding-right: 15px;
  display: grid;
  justify-content: center;
  margin-bottom: 1rem;
}

.center-div {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}