<div class="subtitle">
   <p>Etape 1 : Générer le lien Google Form</p>
</div>
<app-google-token-form *ngIf="!hasGoogleToken" (tokkenGoogleActivated)="activateHasTokken($event)"></app-google-token-form>
<app-google-main-page *ngIf="hasGoogleToken" (formUrlEvent)="addFormUrl($event)"></app-google-main-page>
<div class="subtitle">
   <p>Etape 2 : Générer et envoyer l'email aux stagiaires</p>
</div>

<div class="search">
   <i>Objet du mail :</i>
   <input class="searchTerm" type="text" name="searchTerm" placeholder="Objet :" [(ngModel)]="subject" />
   <i>Corps du mail avant url :</i>
   <textarea class="comment" type="text" name="searchTerm" placeholder="Texte avant l'url :"
      [(ngModel)]="beforeUrl"></textarea>
   <!-- <div>
      <p>Url du formulaire : {{ urlGoogleForm }}</p>
   </div> -->
   <i>Corps du mail après url :</i>
   <textarea class="comment" type="text" name="searchTerm" placeholder="Texte après l'url :"
      [(ngModel)]="afterUrl"></textarea>


   <p style="text-decoration: underline ">Aperçu du mail :</p>
   <div class="apercu">
      <p>{{ beforeUrl }}</p>
      <p>{{ urlGoogleForm }}</p>
      <p>{{ afterUrl }}</p>
   </div>
   <div *ngIf="!mailSent"  class="send-button">
      <button mat-mini-fab color="accent" type="button" (click)="sendEmail()">
         <mat-icon>email</mat-icon>
      </button>
      
      <p>Envoyer</p>

   </div>
   <div *ngIf="mailSent" class="center-div">
      Mail envoyé. <a href="/home">Retour au tableau de bord.</a>
   </div>
</div>