<div class="subtitle">
   <p>Etape 1 : Générer le lien Google Form</p>
</div>
<app-google-token-form class="token" *ngIf="!hasGoogleToken" [fromMailPage]="true"
   (tokkenGoogleActivated)="activateHasTokken($event)"></app-google-token-form>
<app-google-main-page class="token" *ngIf="hasGoogleToken" (formUrlEvent)="addFormUrl($event)"></app-google-main-page>
<div class="subtitle">
   <p>Etape 2 : Générer et envoyer l'email aux stagiaires</p>
</div>

<div class="search">
   <p class="margin">Objet du mail</p>
   <input class="searchTerm" type="text" name="searchTerm" placeholder="Objet :" [(ngModel)]="subject" />
   <p>Corps du mail avant url</p>
   <textarea class="comment" type="text" name="searchTerm" placeholder="Texte avant l'url :"
      [(ngModel)]="beforeUrl"></textarea>
   <!-- <div>
      <p>Url du formulaire : {{ urlGoogleForm }}</p>
   </div> -->
   <p>Corps du mail après url</p>
   <textarea class="comment" type="text" name="searchTerm" placeholder="Texte après l'url :"
      [(ngModel)]="afterUrl"></textarea>


   <p>Aperçu du mail</p>
   <div class="apercu">
      <p class="margin">{{ beforeUrl }}</p>
      <p>{{ urlGoogleForm }}</p>
      <p>{{ afterUrl }}</p>
   </div>
   <div *ngIf="!mailSent && urlGoogleForm == '#'" class="send-button">
      Veuillez générer un Google Form avant d'envoyer le mail
   </div>
   <div *ngIf="!mailSent && urlGoogleForm !== '#'" class="send-button">
      <button mat-mini-fab color="accent" type="button" (click)="sendEmail()">
         <mat-icon>email</mat-icon>
      </button>

      <p>Envoyer</p>

   </div>
   <div *ngIf="mailSent" class="center-div">
      Mail envoyé. <a href="/home">Retour au tableau de bord.</a>
   </div>
</div>