<mat-card>
  <mat-card-header>
    <mat-card-title>
      <button mat-mini-fab color="primary" (click)="goBack()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      {{question.getText()}}
    </mat-card-title>
    <mat-card-subtitle>
      Modifier l'ordre des réponses
    </mat-card-subtitle>
  </mat-card-header>
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div
      class="example-box"
      *ngFor="let answer of currentListOrdered" cdkDrag (cdkDragEnded)="dragEnd($event)"
    >
      {{answer.getText()}}
    </div>
  </div>
  <button
    (click)="onSubmit()"
    mat-raised-button
    color="primary"
    class="btn"
  >
    Valider &#11088;
  </button>
  <button type="button" mat-raised-button color="warn" class="btn" (click)="goBack()">
    Annuler
  </button>
</mat-card>

